name: Build Path Studio

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build project
        run: cargo build --release --manifest-path app/Cargo.toml

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: path_studio-${{ matrix.os }}
          path: app/target/release/

